.CreatField {
  background-color: #18181873;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 15px;
  border-radius: 40px;
  border: solid 1px #ffffff42;
  /* height: 1000px; */
  max-width: 500px;
  margin: 0 auto 80px auto;
  overflow: hidden;
}


.description_input {
  border-radius: 23px;
  background-color: #252525;
  border: solid 1px #ffffff15;
  padding: 20px;
  color: #ffffff;
  resize: none;
  width: 85%;
  margin: 20px 0 20px 0;
  min-height: 100px;
  transition: all .3s;
  font-size: 21px;

}

.description_input:hover,
.category_input:hover {
  border: solid 1px #ffffff44;
}

.category_input {
  border-radius: 17px;
  background-color: #252525;
  border: solid 1px #ffffff15;
  padding: 20px;
  color: #ffffff;
  resize: none;
  width: 85%;
  margin: 0 0 20px 0;
  transition: all .3s;
  font-size: 21px;
}

.createBut {
  border-radius: 17px;
  background-color: #252525;
  border: solid 1px #ffffff15;
  padding: 15px;
  color: #ffffff;
  resize: none;
  width: 80%;
  margin: 0 0 20px 0;
  transition: all .3s;
  font-size: 19px;
  cursor: pointer;
}

.Selector_Cont {
  width: 100%;
  margin-top: 20px;
}

.select_button, .select_button_sup {
  border-radius: 25px;
  background-color: #252525;
  border: solid 1px #ffffff15;
  padding: 15px;
  color: #ffffff;
  width: 95%;
  margin: 0 0 0 0;
  transition: all .3s;
  font-size: 19px;
  cursor: pointer;
  max-width: 466.6px;
}

.redborder {
  border: solid 1px #ff00009c;
}

.select_button:hover {
  background-color: #303030;
}

/* Стили для модального окна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 19px;
  opacity: 0;
  animation: fadeIn .27s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal_content {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  z-index: 1001;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Прокрутка по вертикали */
}
/* Стили для скроллбара в WebKit-браузерах (Chrome, Safari) */
.modal_content::-webkit-scrollbar {
  width: 6px; 
  background-color: #00000080; 

}

.modal_content::-webkit-scrollbar-track {
  background-color: #00000080; 
  border-radius: 50px;
}

.modal_content::-webkit-scrollbar-thumb {
  background-color: #949494; 
  border-radius: 50px; 
  border: solid 2px  #000000; 
  border-top: 50px solid #000000;
  border-bottom: 50px solid #000000;

}

.modal_content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.849); 
}



.modal_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: auto;
}

.modal_content ul li {
  background-color: #141414;
  border-radius: 20px;
  width: 80%;
  padding: 16px;
  margin: 0 auto 20px  auto;
  font-size: 22px;
  cursor: pointer;
  transition: .33s;
}

.modal_content ul li:hover {
  background-color: #2b2b2b;
}

/* Задний фон */
.modal_overlay {
  border-radius: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(5, 5, 5);
  backdrop-filter: blur(35px);
  /* Размытие заднего фона */
  z-index: 1000;
}

.checkmarkImage {
  width: 100px;
  margin-top: 20px;
  opacity: 1;
  animation: fadeIn .3s ease-in-out forwards;
}

.loadingMessage {
  text-align: center;
  margin-top: 20px;
  font-size: 18px; /* Настройте размер шрифта по необходимости */
}

.LoadcheckmarkImage {
  width: 100px;
  margin-top: 20px;
  animation: spin .55s linear infinite; /* Анимация вращения */

}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
